.contact-us-banner {
  width: 100%;
  background-color: #000a1a;
}
.contact-us {
  display: flex;
  flex-direction: row;
  margin: 5rem auto;
  width: 75%;
  background: #000a1a;
  gap: 5rem;
}
.contact-us .content,
.form {
  width: 50%;
}
.contact-us .line {
  width: 250px;
  height: 5px;
  background: #9c49e7;
  border-radius: 20px;
  margin-top: 2rem;
  margin-bottom: 5rem;
}
.contact-us .content {
  padding: 1.3rem 0px;
}
.contact-us .content .p24 {
  margin-bottom: 1rem;
}
.contact-us .form {
  display: flex;
  flex-flow: column;
  gap: 2rem;
  padding: 2.5rem;
  background: #291f33;
  border-radius: 20px;
  box-sizing: border-box;
}
.head .heading {
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 66px;
  display: flex;
  align-items: center;
  text-align: left;

  /* surface/sunrise */

  background: linear-gradient(
    26.26deg,
    #f3beda 0%,
    #e79d49 29.22%,
    #ff7983 54.26%,
    #2b01b2 83.48%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.contact-us .form .top {
  display: flex;
  justify-content: space-between;
  gap: 2.125rem;
}
.contact-us .form .input-container {
  display: flex;
  flex-flow: column;
}
.contact-us .form .input-container.sm {
  width: 50%;
}
.contact-us .form .bottom {
  display: flex;
  justify-content: space-between;
}
.contact-us .p24 {
  margin-bottom: 1rem;
  text-align: left;
}
.contact-us .form .input {
  /* height: 2.875rem; */
  padding: 0.9rem 0.25rem 0.8rem 0.25rem;
  /* surface/secondary */

  background: #000a1a;
  /* primary/400-main */

  border: 1px solid #9c49e7;
  border-radius: 4px;
  color: #efefef;
}
.contact-us .form .message .input {
  height: 120px;
}
.contact-us .form .input-terms {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.contact-us a {
  color: #2d72e1;
}
.contact-us ::placeholder {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color: #595959;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  /* Internet Explorer 10-11 */
  color: #595959;
}

::-ms-input-placeholder {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  /* Microsoft Edge */
  color: #595959;
}
