.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 10rem;
  width: 100%;
  height: 6.25rem;
  box-sizing: border-box;
  background-color: #0d0d0d;
  position: fixed;
  z-index: 99;
}
.header .primary-button {
}
.header .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  column-gap: 2.5em;
  font-size: 1.5em;
}
