.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 0.5rem 10rem; */
  width: 75%;
  margin: auto;
  height: 6.25rem;
  box-sizing: border-box;
}
.header .primary-button {
}
.header .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  column-gap: 2.5em;
  font-size: 1.5em;
}
