.App {
  color: #efefef;
  background-color: #0d0d0d;
  padding: 0px;
  text-align: center;
  font-size: calc(8px + 2vmin);
  /* font-size: 16px; */
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  /* Scrollbar */
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
.primary-button {
  background: #9c49e7;
  color: #efefef;
  font-size: 20px;
  padding: 0.75rem 2rem;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.secondary-button {
  background: #2d72e1;
  font-size: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding: 0.75rem 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
h1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0px;
}
h2 {
  font-size: 3.5rem;
  font-weight: 700;

  margin: 0px;
  padding: 5rem 0;
}
h3 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0px;
  font-family: "Helvetica Neue";
  font-style: normal;
}
p {
  margin: 0px;
}
.st3 {
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
}
.p16 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.p20 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.p24 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}
.p28 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 42px;
}
