body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg02);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  --bg01: #291f33;
  --bg02: #000a1a;
  --bgGradient: linear-gradient(
    26.26deg,
    #f3beda 0%,
    #e79d49 29.22%,
    #ff7983 54.26%,
    #2b01b2 83.48%
  );
}
